hwi_oauth:
    resource_owners:
        jbnahan_custom:
            type:                oauth2
            client_id:           <client_id>
            client_secret:       <client_secret>
            access_token_url:    http://your.server.local/oauth/v2/token
            authorization_url:   http://your.server.local/oauth/v2/auth
            infos_url:           http://your.server.local/api/user
            scope:               "user"
            user_response_class: HWI\Bundle\OAuthBundle\OAuth\Response\PathUserResponse
            paths:
                identifier: id
                nickname:   username
                realname:   username
    firewall_name: secured_area